@model EventRegistration.Models.Registration

<h2>Реєстрація на подію: @ViewBag.EventTitle</h2>
<p><strong>Опис:</strong> @ViewBag.EventDescription</p>
<p><strong>Дата:</strong> @ViewBag.EventDate</p>
<p><strong>Локація:</strong> @ViewBag.EventLocation</p>

<form asp-action="Register" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="EventId" value="@ViewBag.EventId" />

    <div class="form-group">
        <label asp-for="UserName">Ім’я</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-check mt-3">
        <input asp-for="IsConfirm" class="form-check-input" />
        <label class="form-check-label" asp-for="IsConfirm">
            Підтверджую участь
        </label>
        <span asp-validation-for="IsConfirm" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Зареєструватися</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}